<!-- Header -->
<style type="text/css">
    a:hover{
        text-decoration: none;
    }
.intro-text .intro-heading {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    width: 1000px;
}
</style>
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"><a href="#">It's Nice To Meet You~</a></div>
            </div>
        </div>
    </header>